<!DOCTYPE html>
<html lang="en">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?84ef855e0d9a1259d5a71f64aa8415fb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

  <!--浏览器搞笑标题-->
<script type="text/javascript" src="..\js\funnyTitle.js"></script>
  
{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}
  
   <!-- 音乐播放器 -->
  <div align=life> 
    <iframe frameborder="no" marginwidth="0" marginheight="0" width=400 height=140 src="https://music.163.com/outchain/player?type=2&id=254574&auto=0&height=66"></iframe>
  </div>

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

  
</body>

</html>
