---
layout: default
---

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?84ef855e0d9a1259d5a71f64aa8415fb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
        /* 鼠标点击特效 - 文字 */
        var a_idx = 0;jQuery(document).ready(function($) {$("body").click(function(e) {var a = new Array("有缘无分空痴想，有份无缘枉断肠","自在飞花轻似梦，无边细雨无尽愁","可怜今生无缘分，人生如梦几多恨","哈哈哈，是不是很意外", "你要怎样!!!", "不要摸我啊", "啊哈哈，我又出现啦","所以，你要不要问问我什么是爱情?","要不要点开《年华》看看啊？","你真的不要点开《年华》看看么？","最后一次机会了哦，点开《年华》看看吧","富强", "民主", "文明", "和谐", "自由", "平等", "公正" ,"法治", "爱国", "敬业", "诚信", "友善");var $i = $("<span/>").text(a[a_idx]);
        a_idx = (a_idx + 1) % a.length;var x = e.pageX,y = e.pageY;$i.css({"z-index": 100000000,"top": y - 20,"left": x,"position": "absolute","font-weight": "bold","color": "#ff6651"});$("body").append($i);$i.animate({"top": y - 180,"opacity": 0},1500,function() {$i.remove();});});});
</script>
<!--  鼠标点击特效 - 烟花效果  -->
<canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
<script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
<script type="text/javascript" src="/js/fireworks.js"></script>

<!-- 雪花特效 -->
<script type="text/javascript" src="/js/snow.js"></script>
 <!--浏览器搞笑标题-->
<script type="text/javascript" src="/js/funnyTitle.js"></script>
<!-- 动态线条背景特效 -->
<script type="text/javascript" src="/js/dynamicLine.js"></script>

<!-- Image to hack wechat -->
<!-- <img src="/img/icon_wechat.png" width="0" height="0"> -->
<!-- <img src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" width="0" height="0"> -->


<!-- Post Header -->
{% include intro-header.html type='post' %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <!-- Multi-Lingual -->
                {% if page.multilingual %}
                <!-- Language Selector -->
                <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
                    <option value="0" selected> 中文 Chinese </option>
                    <option value="1"> 英文 English </option>
                </select>
                {% endif %}

				{{ content }}
                
                <br>
                <div class="thumbs_content">
                    <a href="javascript:void(0)" class="thumbs_button fa fa-thumbs-up" title="点赞，支持一下"> 点赞</a>
                    <a href="javascript:void(0)" class="reward_button fa fa-money" title="打赏，支持一下"> 打赏</a>
                    <span class="clear"></span>
                </div>
                <br>
                <br>
                <style type="text/css">
                    .thumbs_content{
                        width: 291px;
                        margin: 0 auto;
                    }
                    .thumbs_button{
                        float: left;
                        width:145px;
                        text-align: center;
                        margin:5px auto;
                        height: 45px;
                        line-height: 45px;
                        background-color:#444;
                        color:#fbfbfb;
                        text-align:center;
                        text-decoration:none;
                        font-weight:bold;
                        font-size:16px;
                        transition: all 0.3s;
                        border-radius: 0 0 0 25px;
                        -webkit-border-radius: 0 0 0 25px;
                        -moz-border-radius: 0 0 0 25px;
                        -o-border-radius: 0 0 0 25px;
                    }
                    .reward_button{
                        float: left;
                        width:145px;
                        text-align: center;
                        margin:5px auto;
                        height: 45px;
                        line-height: 45px;
                        background-color:#cd4450;
                        color:#fbfbfb;
                        text-align:center;
                        text-decoration:none;
                        font-weight:bold;
                        font-size:16px;
                        border-left:1px solid #fbfbfb;
                        transition: all 0.3s;
                        border-radius: 0 25px 0 0;
                        -webkit-border-radius: 0 25px 0 0;
                        -moz-border-radius: 0 25px 0 0;
                        -o-border-radius: 0 25px 0 0;
                    }
                    .thumbs_button:hover, .reward_button:hover{
                        opacity:0.8;
                        font-size:18px;
                    }
                    .clear{
                        clear:both;
                    } 
                    </style>


                <hr style="visibility: hidden;">
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        Previous<br>
                        <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                        Next<br>
                        <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <hr style="visibility: hidden;">

		 <!--Gitalk评论start  -->
                {% if site.gitalk.enable %}
                <!-- 引入Gitalk评论插件  -->
                <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
                <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
                <script src="/js/md5.min.js"></script>

                <div id="gitalk-container"></div>
                <script type="text/javascript">
                    var gitalk = new Gitalk({
                    clientID: '{{site.gitalk.clientID}}',
                    clientSecret: '{{site.gitalk.clientSecret}}',
                    repo: '{{site.gitalk.repo}}',
                    owner: '{{site.gitalk.owner}}',
                    admin: ['{{site.gitalk.admin}}'],
                    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
                    id: md5(window.location.pathname),
                    });
                    gitalk.render('gitalk-container');
                </script>
                {% endif %}
                <!-- Gitalk end -->
		    
                {% if site.disqus_username %}
                <!-- disqus 评论框 start -->
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                <!-- disqus 评论框 end -->
                {% endif %}

                {% if site.netease_comment %}
                <!-- 网易云跟帖 评论框 start -->
                <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
                <!-- 网易云跟帖 评论框 end -->
                {% endif %}
            </div>  

    <!-- Side Catalog Container -->
        {% if page.catalog %}
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
        {% endif %}

        




    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {% include featured-tags.html bottom=true %}

                <!-- Friends Blog -->
                {% include friends.html %}
            </div>
        </div>
    </div>
</article>

<!-- add support for mathjax by voleking-->
{% if page.mathjax %}
  {% include mathjax_support.html %}
{% endif %}

{% if site.netease_comment %}
<!-- 网易云跟帖JS代码 start -->
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
  var cloudTieConfig = {
    url: document.location.href, 
    sourceId: "",
    productKey: "de25fc98a6fe48b3bc8a7ae765da99a0",
    target: "cloud-tie-wrapper"
  };
  var yunManualLoad = true;
  Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>
<!-- 网易云跟帖JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{page.id}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}


{% if site.anchorjs %}
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'always',
          placement: 'right',
          icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
{% endif %}
